{% extends "base.html" %}

{% block content %}
<script type="text/javascript" src="{{url_for('static', filename='jquery.flot.js')}}"></script>
<script type="text/javascript">
  $(document).ready(function () {
    function volume_formater(v, axis){
        return v.toFixed(axis.tickDecimals) + "m³";
    };
    function oxigen_formater(v, axis){
        return v.toFixed(axis.tickDecimals) + "mg/l";
    };
    function cloudiness_formater(v, axis){
        return v.toFixed(axis.tickDecimals) + "NTU";
    };


    var options = { 
        series: {shadowSize: 0},
        xaxes: [{mode: 'time'}],
        yaxes: [
            {min: 0, ticks: 10, tickFormatter: volume_formater},
            {min: 0, ticks: 10, tickFormatter: oxigen_formater},
            {min: 0, ticks: 10, tickFormatter: cloudiness_formater,}, 
        ]
    };
    var a = [];
    var b = [];
    var c = [];
    var start = Date.now()
    for(var n=0; n < 52560; n++){
        var time = start + n * 1000 * 60 * 10;
        a.push([time, n])
        b.push([time, n/1000 + Math.cos(n/200)])
        c.push([time, n/10000 + 20 * Math.cos(n/100)])
    };
    
    var combined_graph = $.plot($("#graph"), [
      {data: a, label:"Nivel"}, 
      {data: b, label:'Oxigeno', yaxis: 2},
      {data: c, label:'Turbiedad', yaxis: 3},
      
      ], options);
  

});
  
</script>

  <ul class="nav nav-tabs">
    <li> 
    <a href='/'>Dashboard</a>
    </li>
    
    <li class='active'> 
    <a href='#'>Graficos</a>
    </li>
    
    <li> 
    <a href='/admin'>Admin</a>
    </li>
  </ul>
  
  <div class="row">
    <div class="span12">
      <div id="graph" style="width:100%;height:400px"></div>
    </div>
  </div>
{% endblock %}
