{% extends "base.html" %}


{% block content %}
<script type="text/javascript">
(function(){  
    first_load = true;  

    function update(state){
        update_bar("turbiedad", state.instant_values.cloudiness, "NTU");   
        update_bar("nivel", state.instant_values.level, "%");   
        update_bar("oxigeno", state.instant_values.oxigen, "mg/Litro");
        if (first_load){
            for(var i = 0; i < state.alarms.length; i++){
                set_alert(state.alarms[i]);                
                };
            for(var i = 0; i < state.events.length; i++){
                set_notify(state.events[i]);                
                };
            first_load = false;
        } else {
            for(var i = 0; i < state.new_alarms.length; i++){
                set_alert(state.new_alarms[i]);                
            }; 
            for(var i = 0; i < state.new_events.length; i++){
                set_notify(state.new_events[i]);                
            };
}; 
    };
    state_handler(update);
})();

</script>

  <ul class="nav nav-tabs">
    <li class='active'> 
    <a href='#'>Dashboard</a>
    </li>

    <li> 
    <a href='/graficos'>Graficos</a>
    </li>

    <li> 
    <a href='/admin'>Admin</a>
    </li>
  </ul>
  
  <div class="row">
    <div class="span6">
      <h4> Valores Actuales </h4>
      <dl>
        <dt>Nivel en SBR</dt>
        <dd>
        <div class="progress progress-info progress-striped">
          <div id="nivel" class="bar" style="width: 20%">20%</div>
        </div>
        </dd>

        <dt> Oxígeno </dt>
        <dd>
        <div class="progress progress-info progress-striped">
          <div id="oxigeno" class="bar" style="width: 20%"> 27 mg/Litro</div>
        </div> 
        </dd> 
        <dt> Turbiedad </dt>
        <dd>
        <div class="progress progress-info progress-striped">
          <div id="turbiedad" class="bar" style="width: 20%">42 NTU</div>
        </div>
        </dd> 
      </dl>
    </div>
    <div class="span3">
      <h4> Volumen Acumulado </h4>
      <dl>
        <dt> Total</dt>
        <dd>50 m3</dd>
        <dt> Parcial </dt>
        <dd>22 m3</dd>
      </dl>
      <input type="button" class="btn btn-primary btn-block" value="Reset Parcial"/>
    </div>
    <div class="span3">
        <h4> Progreso </h4>
        <dl>
        <dt> Carga Aireada </dt>
        <dd id="tiempo_carga_aireada">50 minutos</dd>
        <dt> Aireación </dt>
        <dd id="tiempo_aireacion">50 minutos</dd>
        <dt> Sedimentación </dt>
        <dd id="tiempo_sedimentacion">50 minutos</dd>
        <dt> Descarga </dt>
        <dd id="tiempo_descarga">50 minutos</dd>
      </dl>
    </div>
  </div>
  <div class="row">
    <div class="span6">
      <h4> Alarmas </h4>
      <input type="button" class="btn btn-primary btn-block" value="Detener alarma acustica"/>
      <div id='alert_container'>
      </div>
    </div>
    <div class="span6">
      <h4> Eventos </h4>
      <div id="event_container" height="50%" style="overflow: auto;">
      </div>
    </div>
  </div>

{% endblock %}
