{% extends "base.html" %}

{% block content %}
<script type="text/javascript" src="{{url_for('static', filename='update.js')}}"> </script>

  <ul class="nav nav-tabs">
    <li class='active'> 
    <a href='#'>Dashboard</a>
    </li>

    <!--    <li> 
    <a href='/graficos'>Graficos</a>
    </li> -->

    <li> 
    <a href='/admin'>Admin</a>
    </li>
  </ul>
  
  <div class="row">
    <div class="span3">
      <h4> Instrumentos </h4>
      <dl>
        <dt>Nivel en SBR</dt>
        <dd>
        <div id="nivel_val" class='centered'></div>
        <div class="progress">
          <div id="nivel" class="bar" style="width: 0%">0%</div>
        </div>
        </dd>

        <dt> Oxígeno </dt>
        <dd>
        <div id="oxigeno_val" class="centered"></div>
        <div class="progress">
          <div id="oxigeno" class="bar" style="width: 0%"> 0 mg/Litro</div>
        </div> 
        </dd> 
        <dt> Turbiedad </dt>
        <dd>
        <div id="turbiedad_val" class="centered"></div>
        <div class="progress">
          <div id="turbiedad" class="bar" style="width: 0%">0 NTU</div>
        </div>
        </dd> 
      </dl>
    </div>
    <div class="span3">
      <h4> Volumen Acumulado </h4>
      <dl>
        <dt> Total</dt>
        <dd id='volumen_tratado'></dd>
        <dt> Parcial </dt>
        <dd id='volumen_tratado_parcial'></dd>
      </dl>
      <input type="button" class="btn btn-primary btn-block" value="Reset Parcial" 
      onclick="$.get('{{url_for("reset_acumulado")}}')"/>
    </div>
    <div class="span3">
      <h4> Programa </h4>
      <dl>
        <dt> Número </dt>
        <dd id='programa_actual'></dd> 
        <dt> Carga Aireada </dt>
        <dd id="programa_carga_aireada"></dd> 
        <dt> Aireación </dt>
        <dd id="programa_aireacion"></dd>
        <dt> Sedimentación </dt>
        <dd id="programa_sedimentacion"></dd>
        <dt> Descarga </dt>
        <dd id="programa_descarga"> </dd>
      </dl>
    </div>
    <div class="span3">
      <h4> Progreso </h4>
      <dl>
        <dt> Carga Aireada </dt>
        <dd>
        <div id="carga_aireada_val" class='centered'></div>
        <div class="progress progress-info progress-striped">
          <div id="carga_aireada" class="bar" style="width: 0%">0 minutos</div>
        </div>
        </dd> 
        <dt> Aireación </dt>
        <dd>
        <div id="aireacion_val" class="centered"></div>
        <div class="progress progress-info progress-striped">
          <div id="aireacion" class="bar" style="width: 0%">0 minutos</div>
        </div>
        </dd>
        <dt> Sedimentación </dt>
        <dd>
        <div id="sedimentacion_val" class="centered"></div>
        <div class="progress progress-info progress-striped">
          <div id="sedimentacion" class="bar" style="width: 0%">0 minutos</div>
        </div>
        </dd>
        <dt> Descarga </dt>
        <dd>
        <div id="descarga_val" class='centered'></div>
        <div class="progress progress-info progress-striped">
          <div id="descarga" class="bar" style="width: 0%">0 minutos</div>
        </div>
        </dd>
      </dl>
    </div>
  </div>
  <div class="row">
    <div class="span6">
      <h4> Alarmas </h4>
      <input type="button" class="btn btn-primary btn-block" value="Detener alarma acustica" onclick="$.get('{{url_for("detener_alarma")}}')"/>
      <div id='alert_container'>
      </div>
    </div>
    <div class="span6">
      <h4> Eventos </h4>
      <div id="event_container" height="50%" style="overflow: auto;">
      </div>
    </div>
  </div>

{% endblock %}
