body {
  background: url('/static/background.png') repeat fixed;
}

.container {
 background-color: rgba(255, 255, 255, 0.6);
 padding: 15px;   
}

.nav-tabs > .active > a, .nav-tabs > .active > a:hover {
 background-color: rgba(255, 255, 255, 0.2);

}

.centered {
 text-align: center;
}

.form-actions {
 background-color: rgba(245,245,245, 0.5);
}

.navbar-inner {
 background-color: rgba(69, 174, 234, 0.5);
 background-image: none;
}

.navbar .nav > li > a:focus, .navbar .nav > li > a:hover {
 background-color: rgba(22, 132, 194, 0.5);
    
}
