Flask==0.9
Flask-Bootstrap==2.2.2-1
Jinja2==2.6
Twisted==12.3.0
Werkzeug==0.8.3
amqp==1.0.6
anyjson==0.3.3
billiard==2.7.3.19
celery==3.0.13
kombu==2.5.4
pymodbus==1.1.0
pyserial==2.6
python-dateutil==1.5
wsgiref==0.1.2
zope.interface==4.0.3
